[color]
  branch=auto
  diff=auto
  status=auto

[color "branch"]
  current=yellow reverse
  local=yellow
  remote=green

[color "diff"]
  meta=yellow bold
  frag=blue bold
  old=red bold
  new=green bold

[color "status"]
  added=yellow
  changed=green
  untracked=cyan

[color]
  ui=true

[core]
  whitepace=blank-at-eol, tab-in-indent, cr-at-eol
  editor=vim

[alias]
  lg = log --decorate=short
  co = checkout
  br = branch
  pick = cherry-pick
  edit-unmerged = \
      "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
  add-unmerged = \
      "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
  pr = log --graph --full-history --all --oneline --decorate=short
  rup = remote update --prune
